<!DOCTYPE web-app PUBLIC
 "-//Sun Microsystems, Inc.//DTD Web Application 2.3//EN"
 "http://java.sun.com/dtd/web-app_2_3.dtd" >

<web-app>
  <display-name>Archetype Created Web Application</display-name>
  <servlet>
  	<servlet-name>GetSocietyServlet</servlet-name>
  	<display-name>GetSocietyServlet</display-name>
  	<description></description>
  	<servlet-class>com.mayur.sfc.controller.GetSocietyServlet</servlet-class>
  </servlet>
  <servlet>
  	<servlet-name>LoginServlet</servlet-name>
  	<display-name>LoginServlet</display-name>
  	<description></description>
  	<servlet-class>com.mayur.sfc.controller.LoginServlet</servlet-class>
  </servlet>
  <servlet>
  	<servlet-name>LogoutServlet</servlet-name>
  	<display-name>LogoutServlet</display-name>
  	<description></description>
  	<servlet-class>com.mayur.sfc.controller.LogoutServlet</servlet-class>
  </servlet>
  <servlet>
  	<servlet-name>ChangePasswordServlet</servlet-name>
  	<display-name>ChangePasswordServlet</display-name>
  	<description></description>
  	<servlet-class>com.mayur.sfc.controller.changePasswordServlet</servlet-class>
  </servlet>

  <servlet>
  	<servlet-name>test</servlet-name>
  	<display-name>test</display-name>
  	<description></description>
  	<servlet-class>com.mayur.sfc.controller.test</servlet-class>
  </servlet>
  <servlet>
  	<servlet-name>PayBill</servlet-name>
  	<display-name>PayBill</display-name>
  	<description></description>
  	<servlet-class>com.mayur.sfc.controller.PayBill</servlet-class>
  </servlet>
  <servlet>
  	<servlet-name>SendMail</servlet-name>
  	<display-name>SendMail</display-name>
  	<description></description>
  	<servlet-class>com.mayur.sfc.controller.SendMail</servlet-class>
  </servlet>
  <servlet>
  	<servlet-name>MaintenanceAdd</servlet-name>
  	<display-name>MaintenanceAdd</display-name>
  	<description></description>
  	<servlet-class>com.mayur.sfc.controller.MaintenanceAdd</servlet-class>
  </servlet>
  <servlet>
  	<servlet-name>BillPayer</servlet-name>
  	<display-name>BillPayer</display-name>
  	<description></description>
  	<servlet-class>com.mayur.sfc.controller.BillPayer</servlet-class>
  </servlet>
  <servlet>
  	<servlet-name>MpayBill</servlet-name>
  	<display-name>MpayBill</display-name>
  	<description></description>
  	<servlet-class>com.mayur.sfc.controller.MpayBill</servlet-class>
  </servlet>
  <servlet>
  	<servlet-name>MbillPayer</servlet-name>
  	<display-name>MbillPayer</display-name>
  	<description></description>
  	<servlet-class>com.mayur.sfc.controller.MbillPayer</servlet-class>
  </servlet>
  <servlet>
  	<servlet-name>pdfGenerate</servlet-name>
  	<display-name>pdfGenerate</display-name>
  	<description></description>
  	<servlet-class>com.mayur.sfc.controller.pdfGenerate</servlet-class>
  </servlet>
  <servlet>
  	<servlet-name>GeneratePDF</servlet-name>
  	<display-name>GeneratePDF</display-name>
  	<description></description>
  	<servlet-class>com.mayur.sfc.controller.GeneratePDF</servlet-class>
  </servlet>
  <servlet>
  	<servlet-name>ResetMailSend</servlet-name>
  	<display-name>ResetMailSend</display-name>
  	<description></description>
  	<servlet-class>com.mayur.sfc.controller.ResetMailSend</servlet-class>
  </servlet>
  <servlet>
  	<servlet-name>ResetPassword</servlet-name>
  	<display-name>ResetPassword</display-name>
  	<description></description>
  	<servlet-class>com.mayur.sfc.controller.ResetPassword</servlet-class>
  </servlet>
  <servlet>
  	<servlet-name>ResetMailConfirm</servlet-name>
  	<display-name>ResetMailConfirm</display-name>
  	<description></description>
  	<servlet-class>com.mayur.sfc.controller.ResetMailConfirm</servlet-class>
  </servlet>
  <servlet>
  	<servlet-name>Feedback</servlet-name>
  	<display-name>Feedback</display-name>
  	<description></description>
  	<servlet-class>com.mayur.sfc.controller.Feedback</servlet-class>
  </servlet>
  <servlet>
  	<servlet-name>WorkerList</servlet-name>
  	<display-name>WorkerList</display-name>
  	<description></description>
  	<servlet-class>com.mayur.sfc.controller.WorkerList</servlet-class>
  </servlet>
  <servlet>
  	<servlet-name>RequestPayment</servlet-name>
  	<display-name>RequestPayment</display-name>
  	<description></description>
  	<servlet-class>com.mayur.sfc.controller.RequestPayment</servlet-class>
  </servlet>
  <servlet>
  	<servlet-name>WorkerPendingPayment</servlet-name>
  	<display-name>WorkerPendingPayment</display-name>
  	<description></description>
  	<servlet-class>com.mayur.sfc.controller.WorkerPendigPayment</servlet-class>
  </servlet>
  <servlet>
  	<servlet-name>RequestApproval</servlet-name>
  	<display-name>RequestApproval</display-name>
  	<description></description>
  	<servlet-class>com.mayur.sfc.controller.RequestApproval</servlet-class>
  </servlet>
  <servlet>
  	<servlet-name>YearlySpendingList</servlet-name>
  	<display-name>YearlySpendingList</display-name>
  	<description></description>
  	<servlet-class>com.mayur.sfc.controller.YearlySpendingList</servlet-class>
  </servlet>
  <servlet-mapping>
  	<servlet-name>GetSocietyServlet</servlet-name>
  	<url-pattern>/SocietyServlet</url-pattern>
  </servlet-mapping>
  <servlet-mapping>
  	<servlet-name>LoginServlet</servlet-name>
  	<url-pattern>/LoginServlet</url-pattern>
  </servlet-mapping>
  <servlet-mapping>
  	<servlet-name>LogoutServlet</servlet-name>
  	<url-pattern>/LogoutServlet</url-pattern>
  </servlet-mapping>
  <servlet-mapping>
  	<servlet-name>ChangePasswordServlet</servlet-name>
  	<url-pattern>/ChangePasswordServlet</url-pattern>
  </servlet-mapping>

  <servlet-mapping>
  	<servlet-name>test</servlet-name>
  	<url-pattern>/test</url-pattern>
  </servlet-mapping>
  <servlet-mapping>
  	<servlet-name>PayBill</servlet-name>
  	<url-pattern>/PayBill</url-pattern>
  </servlet-mapping>
  <servlet-mapping>
  	<servlet-name>SendMail</servlet-name>
  	<url-pattern>/send</url-pattern>
  </servlet-mapping>
  <servlet-mapping>
  	<servlet-name>MaintenanceAdd</servlet-name>
  	<url-pattern>/MaintenanceAdd</url-pattern>
  </servlet-mapping>
  <servlet-mapping>
  	<servlet-name>BillPayer</servlet-name>
  	<url-pattern>/BillPayer</url-pattern>
  </servlet-mapping>
  <servlet-mapping>
  	<servlet-name>MpayBill</servlet-name>
  	<url-pattern>/MpayBill</url-pattern>
  </servlet-mapping>
  <servlet-mapping>
  	<servlet-name>MbillPayer</servlet-name>
  	<url-pattern>/MbPayer</url-pattern>
  </servlet-mapping>
  <servlet-mapping>
  	<servlet-name>pdfGenerate</servlet-name>
  	<url-pattern>/pdfGenerate</url-pattern>
  </servlet-mapping>
  <servlet-mapping>
  	<servlet-name>GeneratePDF</servlet-name>
  	<url-pattern>/GeneratePDF</url-pattern>
  </servlet-mapping>
  <servlet-mapping>
  	<servlet-name>ResetMailSend</servlet-name>
  	<url-pattern>/ResetMailSend</url-pattern>
  </servlet-mapping>
  <servlet-mapping>
  	<servlet-name>ResetPassword</servlet-name>
  	<url-pattern>/reset</url-pattern>
  </servlet-mapping>
  <servlet-mapping>
  	<servlet-name>ResetMailConfirm</servlet-name>
  	<url-pattern>/ResetMailConfirm</url-pattern>
  </servlet-mapping>
  <servlet-mapping>
  	<servlet-name>Feedback</servlet-name>
  	<url-pattern>/feedback</url-pattern>
  </servlet-mapping>
  <servlet-mapping>
  	<servlet-name>WorkerList</servlet-name>
  	<url-pattern>/WorkerList</url-pattern>
  </servlet-mapping>
  <servlet-mapping>
  	<servlet-name>RequestPayment</servlet-name>
  	<url-pattern>/requestPay</url-pattern>
  </servlet-mapping>
  <servlet-mapping>
  	<servlet-name>WorkerPendingPayment</servlet-name>
  	<url-pattern>/pendingList</url-pattern>
  </servlet-mapping>
  <servlet-mapping>
  	<servlet-name>RequestApproval</servlet-name>
  	<url-pattern>/requestApprove</url-pattern>
  </servlet-mapping>
  <servlet-mapping>
  	<servlet-name>YearlySpendingList</servlet-name>
  	<url-pattern>/yearSpendList</url-pattern>
  </servlet-mapping>
</web-app>
